.App {
    background-color: #E5E5E5;
    min-height: 100%;
    margin-bottom: -100px;
}
.portfolio__navigation {
    display: flex;
    justify-content: center;
    min-height: 50px;
    background-color: #fff;
    align-items: center;
    position: sticky;
    top: 0
}
.portfolio__navigation-item a {
    text-decoration: none;
    font-size: 14px;
    padding: 0 10px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #010313;
}
.portfolio__navigation-item a:hover{
    text-decoration: underline;
    color: rgba(167, 194, 213, 0.98);
}
.portfolio__navigation-item a::selection{
    color: rgba(0, 156, 248, 0.98);
}

.portfolio__header {
    display: block;
    background-image: url('../public/images/header.png');
    min-height: 320px;
}
.portfolio__body {
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    background-color: #E5E5E5;
    flex-direction: row;
}

.portfolio__double-block {
    display: flex;
    flex-direction: row;
}

.portfolio__content {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.portfolio__content-item {
    margin: 30px 20px 5px;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px 40px 40px;
    height: 160px;
}
.portfolio__content-item a{
    text-decoration: none;
    color: #505050;
}
.portfolio__content_game_present{
    display: flex;
    justify-content: center;
    background-color: #03071e;
    color: #E5E5E5;
    padding: 10px 50px 20px 50px;
    text-decoration: underline;
}
.portfolio__content_game_present_item {
    display: block;
    position: relative;
    align-items: center;
    flex-direction: column;
    background-color: #f3f3f3;
    color: rgba(5, 4, 4, 0.64);
    padding: 10px 40px 20px 10px;
    margin: 50px -50px 0 -700px;
    font-size: 13px;
}
.portfolio__content_game_present_item p {
    flex-direction: row;
}
.portfolio__content_game_present_item span{
    font-weight: bold;
}

.portfolio__content_game_present h4{
    display: flex;
    justify-content: center;
    color: #E5E5E5;
    width: 640px;
    text-decoration: underline;
}

.portfolio__content-item a:hover{
    text-decoration: underline;
}
.extend-content {
    height: 100%;
    width: 880px;
}
.portfolio__content-item textarea {
    margin-top: -30px;
    width: 100%;
    height: 450px;
}

.portfolio__sidebar {
    margin: 25px 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 60px 40px 40px;
    height: 100%;
    width: 616px;
}
.portfolio__sidebar h2{
    display: block;
    margin-top: -36px;
}
.portfolio__sidebar-item h4 {
    padding-top: 26px;
}
.portfolio__sidebar-item p {
    display: block;
    padding-top: 20px;
}
.portfolio__sidebar-item a {
    color: #03071e;
    font-weight: 500;
    text-decoration: none;
}
.portfolio__sidebar-item a:hover {
    text-decoration: underline;
}

.portfolio__announce {
    margin: 20px 15px;
    background-color: #03071e;
    width: 320px;
    height: 385px;
    border-radius: 20px;
}
.portfolio__announce h5{
    display: block;
    color: #fff;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px 15px;
    width: 180px;
    margin-left: 20px;
    letter-spacing: 2px;
    border-radius: 5px;
}
.portfolio__announce p {
    display: block;
    color: white;
    padding: 20px 12px;
    margin: 0 10px;
    font-size: 18px;
}

.portfolio__announce a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}

.portfolio__announce a:hover {
    text-decoration: underline;
}

.portfolio__content-short {
    margin: 20px 15px;
    background-color: #fff;
    border-radius: 20px;
    padding: 60px 30px;
    max-width: 580px;
    width: 100%;
}
.portfolio__content-short h2 {
    margin-left: 260px;
    margin-top: -20px;
}

.portfolio__content_short_skills {
    display: flex;
    justify-content: space-between;
}
.portfolio__content_short_skills div {
    margin: -11px 80px 0;

}
.portfolio__content_short_skills li {
    display: block;
    text-decoration: underline;
    font-weight: 500;
    margin-top: 6px;
}

.portfolio__sidebar-item-price-widget {
    display: flex;
    background-color: #03071e;
    font-weight: 700;
    padding: 5px 0;
    color: #fff;
    border-radius: 3px;
    justify-content: center;
    margin-top: 5px;
}
.portfolio__sidebar-item-price-widget p {
    display: block;
    font-size: 18px;
    padding-left: 8px;
    letter-spacing: 2px;
}

footer {
    display: flex;
    background-color: #505050;
    min-height: 200px;
    margin: 50px 0;
    color: #fff;
    justify-content: center;
    align-items: center;
}
footer > p {
    font-size: 16px;
    letter-spacing: 2px;
}

.textarea {
    display: flex;
    background-image: url(../public/images/vector-memphis-background.jpg);
    height: 450px;
    background-color: rgba(152, 152, 149, 0.47);
    flex-direction: column;
    margin-top: 10px;
}
.textarea input {
    position: relative;
    width: 687px;
    height: 60px;
    margin-top: 20px;
    font-size: 18px;
}
.portfolio__content-item h4 {
    cursor: pointer;
}

.textarea button {
    width: 160px;
    height: 64px;
    right: 40px;
    bottom: 61px;
    background-color: #03071e;
    color: white;
    letter-spacing: 2px;
    font-weight: 600;
    border-radius: 3px;
    margin-top: 5px;
}
.portfolio__posts {
    background-color: white;
    margin-top: -20px;
    max-height: 450px;
    height: 100%;
    padding: 20px 20px 0;
    display: flex;
    border-radius: 10px;
    justify-content: flex-end;
    flex-direction: column;   
    overflow-y: scroll;
}

.portfolio__posts p {
    display: inline-block;
    font-size: 14px;
    margin-left: 30px;
}
.hide-content{
    display: none;
}
.show-content {
    display: inline-block;
    text-decoration: none;
    transition: 1.7s;
}

@media (max-width: 1020px) {
    .portfolio__sidebar {
        position: absolute;
        margin: 30px 20px;
        background-color: #fff;
        border-radius: 10px;
        padding: 60px 40px 40px;
        height: 480px;
        width: 888px;
        top: 950px
    }
    .textarea {
        display: flex;
        background-image: url(../public/images/vector-memphis-background.jpg);
        height: 450px;
        background-color: rgba(152, 152, 149, 0.47);
        flex-direction: column;
        margin-top: 620px;
    }
}

@media (max-width: 712px) {
    .portfolio__header {
        display: block;
        background-image: url('../public/images/mobileHeader.png');
        max-width: 540px;
        width: 83vh;

    }

    .portfolio__body {
        display: flex;
        margin: 0 auto;
        min-width: 540px;
        background-color: #E5E5E5;
        flex-direction: row;

    }

    .portfolio__navigation_mobile {
        display: block;
        transition: 2s;
        animation: slideToRight 2s;
        padding-right: 20px;
        background-color: #E5E5E5;
        width: 170%;
    }

    .mobile-display {
        position: absolute;
        left:-820px;
        transition: 0.86s;
    }

    .portfolio__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
        margin-bottom: 40px;
    }
    .portfolio__content-item {
        background-color: #fff;
        border-radius: 10px;
        padding: 40px 40px 40px;
        height: 100%;
        width: 410px;
    }
    .portfolio__content-item a{
        text-decoration: none;
    }
    .portfolio__content-item a:hover{
        text-decoration: underline;
    }
    .portfolio__content-short {
        background-color: #fff;
        border-radius: 20px;
        max-width: 300px;
    }

    .portfolio__sidebar {
        display: none;
        top: 1080px;
        margin: -45px 20px 0;
        background-color: #fff;
        border-radius: 10px;
        padding: 60px 40px 40px;
        height: 480px;
        width: 410px;
    }
    .portfolio__announce {
        padding: 20px 15px 20px 0;
        background-color: #03071e;
        width: 210px;
        height: 325px;
    }
    .portfolio__announce h5{
        display: block;
        color: #fff;
        font-size: 16px;
        background-color: rgba(255, 255, 255, 0.3);
        padding: 10px 15px;
        width: 130px;
        margin: 10px 10px;
        letter-spacing: 2px;
        border-radius: 5px;
    }

    .portfolio__announce p {
        display: block;
        color: white;
        padding: 20px 12px;
        margin: 0 10px;
        font-size: 18px;
    }

    .portfolio__announce a {
        text-decoration: none;
        color: #fff;
        font-weight: 400;
    }

    .portfolio__announce a:hover {
        text-decoration: underline;
    }
    .textarea{
        height: 420px;
    }
    .textarea input {
        position: relative;
        width: 67%;
        height: 60px;
        margin-top: 20px;
        font-size: 18px;
    }
    .textarea button {
        width: 100px;
        height: 64px;
        right: 40px;
        bottom: 61px;
        background-color: #5D71DD;
        color: white;
        letter-spacing: 2px;
        font-weight: 600;
        border-radius: 3px;
        margin-left: 25px;
    }
    .portfolio__content-short h2 {
        margin-left: 80px;
        margin-top: -20px;
    }

    .portfolio__content_short_skills {
        display: flex;
        margin-left: -10px;
    }
    .portfolio__content_short_skills div {
        margin: -15px 0;
    }
    .portfolio__content_short_skills ul {
        margin-left: -12px;
    }


    footer {
        max-width: 540px;
        width: 80vh;
        flex-wrap: wrap;
        margin: 0 0;
    }
    footer > p {
        font-size: 13px;
        letter-spacing: 2px;
        margin: 0 10px;
    }
    .portfolio__content_game_present{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.74);
    color: #E5E5E5;
    padding: 10px 50px 20px 50px;
    text-decoration: underline;
    position: relative;
}

.portfolio__content_game_present h4{
    display: flex;
    justify-content: center;
    color: #E5E5E5;
    width: 340px;
    text-decoration: underline;
}

.portfolio__content_game_present_item {
    display: block;
    position: relative;
    align-items: center;
    left: 369px;
    float: left;
    background-color: #f3f3f3;
    color: rgba(5, 4, 4, 0.64);
    padding: 10px 0 10px 10px;
    font-size: 13px;
    text-decoration: none;
    width: 340px;
}

.portfolio__content_game_present_item p {
    width: 100%;
    text-decoration: none;
}

.portfolio__content_game_present_item span {
    font-weight: bold;
}

.portfolio__content_game_present_item label {
    display: block;
}

    .portfolio__navigation_mobile img {
        width: 50px;
        height: 50px;
        margin-left: 15px;
        cursor: pointer;

    }
    .portfolio__navigation-mobile-item {
        display: flex;
        flex-direction: column;
        top: 52px;
        width: 550px;
        height: 150%;
        position: absolute;
        left: 0;
        background-color: rgba(75, 74, 74, 0.91);
        transition: 1.5s;
        color: #FFFFFF;
        align-items: center;
        z-index:1;
    }
    .portfolio__navigation-mobile-item a {
        display: block;
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        padding: 30px 0;
    }
    .portfolio__navigation-mobile-item a:hover {
        text-decoration: underline;
    }


}

